/* Custom Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/* Box Model */
*,
*:before,
*:after {
    box-sizing: border-box;
}
/* Basic */
body,
html,
button, {
    margin: 0;
    padding: 0;
}
body {
    font: 300 16px/24px 'Lato', sans-serif;
    text-align: center;
    background-color: #d7e3fd;
    margin: 0;
}
.app-body {
    min-width: 600px; 
    margin: 0 auto;
}
.app-sets {
    margin-bottom: 60px;
}
#app-game-buttons {
    height: 200px;
    background-color: #bcd3f4;
}
/* App's title */
.app-heading {
    font-size: 60px;
    font-weight: 300;
    margin: 60px 0 60px;
}
/* Buttons */
button {
    padding: 15px;
    margin: 0 5px;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
}
#btn-start,
#btn-strict {
    height: 40px;
    padding: 0 20px;
    margin-top: 5px;
    margin-left: 10px;
    line-height: 40px;
    background-color: #2579bf;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top; 
}
.icon-circle {
    display: inline-block;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    line-height: 40px;
    margin-right: 10px;
}
.circle-active {
    background-color: #44b759;
}
.circle-unactive {
    background-color: #f05350;
}
.game-button {
    height: 200px;
    width: 120px;
    font-size: 70px;
    font-weight: 300;
    position: relative;
    margin-top: -5px;
}
[id='1'] {
    background-color: #f58036;
    box-shadow: 0px 5px 0px 0px rgba(184, 74, 7, 0.75);
}
[id='2'] {
    background-color: #009d22;
    box-shadow: 0px 5px 0px 0px rgba(0, 89, 34, 0.75);
}
[id='3'] {
    background-color: #ffd715;
    box-shadow: 0px 5px 0px 0px rgba(255, 142, 24, 0.75);
    color: #000;
}
[id='4'] {
    background-color: #73183f;
    box-shadow: 0px 5px 0px 0px rgba(68, 0, 41, 0.98);
}

/* App Counter Display */
#app-counter {
    height: 50px;
    width: 120px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 22px;
    line-height: 50px;
    padding: 0 15px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
/* Toggle Button */ 
.toggle,
.toggle span,
.toggle-on-off {
    display: inline-block;
}
.toggle span,
.toggle-on-off {
    vertical-align: top;
}
.toggle {
    margin: 5px 50px 5px 0;
}
.toggle span {
    line-height: 40px;   
}
.toggle-on-off {
    width: 80px;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 10px;
}
.toggle-on-off button {
    margin: 5px;
    float: left;
    height: 30px;
    width: 30px;    
}
.active {
    background-color: #2579bf;
}
/* Footer */
footer {
    padding: 30px 0;
}
.copyrights,
.copyrights a {
    color: #555;
    font-size: 12px;
}